<div class="app-container">
	<h1>Whitbread Tech Test</h1>

	<h2>Search recommended venues by location name or postcode</h2>
	<div class="search-container">
		<label for="search-input" class="offscreen">Enter a place or postcode to search</label>
		<input type="text" class="search-input" id="search-input" placeholder="Search" [(ngModel)]="keyword" (keyup)="keywordChange(keyword)">
		<button class="search-bt" type="submit">Search</button>
	</div>

	<p *ngIf="errMessage">{{errMessage}}</p>

	<ul *ngIf="!errMessage" class="results">
		<li *ngFor="let place of places">
	      <a href="{{place.venue.url}}" target="_blank">
	      	<h3>{{place.venue.name}}</h3>
	      	<p>{{place.venue.rating}}</p>
	      </a>
	  </li>
	</ul>

</div>
